@import "tailwindcss";

:root {
  /* Colors */
  --background: #1f1f1f;
  --foreground: #f6f6f6;
  --primary-300: #ff9e4a;
  --primary-500: #ff6b00;
  --primary-700: #ff3b00;
  --gray-300: #e4e4e4;
  --gray-500: #b3b3b3;
  --gray-800: #767676;
  --gray-900: #333333;
  --white: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), "Plus Jakarta Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
